{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<!-- Hero section -->{% for el in page %}
	<section class="hero-section set-bg" data-setbg="{{ el.main_image.url }}">
		{% endfor %}
		<div class="container">
			<div class="hero-text text-white">
				{% for el in page %}
				<h2>{{ el.slogan }}</h2>
				{% endfor %}

				{% for el in page %}
				<p>{{ el.page_title }}</p>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<form class="intro-newslatter" method="post">
						{% csrf_token %}
						{{ form.email }}
						{{ form.password }}
						<button class="site-btn" type="submit">Sign Up Now</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->


<!-- categories section -->
	<section class="categories-section spad">
		<div class="container">
			<div class="section-title">
				{% for i in page %}
				<h2>{{i.course_message}}</h2>
				{% endfor %}

				{% for j in page %}
				<p>{{ j.course_text }}</p>
				{% endfor %}
			</div>
			<div class="row">
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						{% for el in categories %}
							{% if el.id == 5 %}
						<div class="ci-thumb set-bg" data-setbg="{{ el.category_image.url }}"></div>
						{% endif %}
							{% endfor%}
						<div class="ci-text">
							{% for el in categories %}
								{% if el.id == 5 %}
							<h5><a href="{% url 'main:course_cat' el.slug %}">{{ el.category_title }}</a></h5>
							<p>{{ el.category_message}}</p>
							<span>{{ el.category_info }}</span>
								{% endif %}
							{% endfor%}
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						{% for el in categories %}
							{% if el.id == 6 %}
						<div class="ci-thumb set-bg" data-setbg="{{ el.category_image.url }}"></div>
						{% endif %}
							{% endfor%}
						<div class="ci-text">
							{% for el in categories %}
								{% if el.id == 6 %}
							<h5><a href="{% url 'main:course_cat' el.slug %}">{{ el.category_title }}</a></h5>
							<p>{{ el.category_message}}</p>
							<span>{{ el.category_info }}</span>
								{% endif %}
							{% endfor%}
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						{% for el in categories %}
							{% if el.id == 7 %}
						<div class="ci-thumb set-bg" data-setbg="{{ el.category_image.url }}"></div>
						{% endif %}
							{% endfor%}
						<div class="ci-text">
							{% for el in categories %}
								{% if el.id == 7 %}
							<h5><a href="{% url 'main:course_cat' el.slug %}">{{ el.category_title }}</a></h5>
							<p>{{ el.category_message}}</p>
							<span>{{ el.category_info }}</span>
								{% endif %}
							{% endfor%}
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						{% for el in categories %}
								{% if el.id == 8 %}
						<div class="ci-thumb set-bg" data-setbg="{{ el.category_image.url }}"></div>
								{% endif %}
						{% endfor%}
						<div class="ci-text">
							{% for el in categories %}
								{% if el.id == 8 %}
							<h5><a href="{% url 'main:course_cat' el.slug %}">{{ el.category_title }}</a></h5>
							<p>{{ el.category_message}}</p>
							<span>{{ el.category_info }}</span>
								{% endif %}
							{% endfor%}
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
							{% for el in categories %}
								{% if el.id == 9 %}
						<div class="ci-thumb set-bg" data-setbg="{{ el.category_image.url }}"></div>
								{% endif %}
							{% endfor%}
						<div class="ci-text">
							{% for el in categories %}
								{% if el.id == 9 %}
							<h5><a href="{% url 'main:course_cat' el.slug %}">{{ el.category_title }}</a></h5>
							<p>{{ el.category_message}}</p>
							<span>{{ el.category_info }}</span>
								{% endif %}
							{% endfor%}
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						{% for el in categories %}
								{% if el.id == 10 %}
						<div class="ci-thumb set-bg" data-setbg="{{ el.category_image.url }}"></div>
								{% endif %}
						{% endfor%}
						<div class="ci-text">
							{% for el in categories %}
								{% if el.id == 10 %}
							<h5><a href="{% url 'main:course_cat' el.slug %}">{{ el.category_title }}</a></h5>
							<p>{{ el.category_message}}</p>
							<span>{{ el.category_info }}</span>
								{% endif %}
							{% endfor%}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- categories section end -->

<!-- search section -->
	<section class="search-section">
		<div class="container">
			<div class="search-warp">
				<div class="section-title text-white">
					<h2>Search your course</h2>
				</div>
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<!-- search form -->
						<form class="course-search-form">
							<input type="text" placeholder="Course">
							<input type="text" class="last-m" placeholder="Category">
							<button class="site-btn">Search Course</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- search section end -->




	<!-- course section -->
	<section class="course-section spad">
		<div class="container">
			<div class="section-title mb-0">
				{% for k in page %}
				<h2>{{ k.featured_title }}</h2>
				{% endfor %}
				{% for k in page %}
				<p>{{ k.featured_text }}</p>
				{% endfor %}
			</div>
		</div>
		<div class="course-warp">
			<ul class="course-filter controls">
				{% for el in featured_course %}
								{% if el.id == 1 %}
				<li class="control" data-filter="all">{{ el.fc_category }}</li>

								{% elif el.id == 2 %}
				<li class="control" data-filter=".finance">{{ el.fc_category }}</li>

								{% elif el.id == 3 %}
				<li class="control" data-filter=".design">{{ el.fc_category }}</li>

								{% elif el.id == 4 %}
				<li class="control" data-filter=".web">{{ el.fc_category }}</li>

								{% elif el.id == 5 %}
				<li class="control" data-filter=".photo">{{ el.fc_category }}</li>
									{% endif %}
				{% endfor %}
			</ul>
			<div class="row course-items-area">
				<!-- course -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 finance">
					<div class="course-item">
						{% for el in featured_course %}
								{% if el.id == 1 %}
						<div class="course-thumb set-bg" data-setbg="{{ el.fc_image.url }}">
							<div class="price">{{ el.fc_price }}</div>
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5><a href="{% url 'main:f_course' el.slug %}">{{ el.fc_title }}</a></h5>
								<p>{{ el.fc_message }}</p>
								<div class="students">{{ el.fc_info }}</div>
							</div>
							<div class="course-author">
								<div class="ca-pic set-bg" data-setbg="{{ el.fc_author_image.url }}"></div>
								<p>{{ el.fc_author_name }} <span>{{ el.fc_author_position }}</span></p>
								{% endif %}
						{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<!-- course -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 design">
					<div class="course-item">
						{% for el in featured_course %}
								{% if el.id == 2 %}
						<div class="course-thumb set-bg" data-setbg="{{ el.fc_image.url }}">
							<div class="price">{{ el.fc_price }}</div>
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5><a href="{% url 'main:f_course' el.slug %}">{{ el.fc_title }}</a></h5>
								<p>{{ el.fc_message }}</p>
								<div class="students">{{ el.fc_info }}</div>
							</div>
							<div class="course-author">
								<div class="ca-pic set-bg" data-setbg="{{ el.fc_author_image.url }}"></div>
								<p>{{ el.fc_author_name }}<span>{{ el.fc_author_position }}</span></p>
								{% endif %}
						{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<!-- course -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 web">
					<div class="course-item">
						{% for el in featured_course %}
								{% if el.id == 3 %}
						<div class="course-thumb set-bg" data-setbg="{{ el.fc_image.url }}">
							<div class="price">{{ el.fc_price }}</div>
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5><a href="{% url 'main:f_course' el.slug %}">{{ el.fc_title }}</a></h5>
								<p>{{ el.fc_message }}</p>
								<div class="students">{{ el.fc_info }}</div>
							</div>
							<div class="course-author">
								<div class="ca-pic set-bg" data-setbg="{{ el.fc_author_image.url }}"></div>
								<p>{{ el.fc_author_name }}<span>{{ el.fc_author_position }}</span></p>
								{% endif %}
						{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<!-- course -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 photo">
					<div class="course-item">
						{% for el in featured_course %}
								{% if el.id == 4 %}
						<div class="course-thumb set-bg" data-setbg="{{ el.fc_image.url }}">
							<div class="price">{{ el.fc_price }}</div>
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5><a href="{% url 'main:f_course' el.slug %}">{{ el.fc_title }}</a></h5>
								<p>{{ el.fc_message }}</p>
								<div class="students">{{ el.fc_info }}</div>
							</div>
							<div class="course-author">
								<div class="ca-pic set-bg" data-setbg="{{ el.fc_author_image.url }}"></div>
								<p>{{ el.fc_author_name }}<span>{{ el.fc_author_position }}</span></p>
								{% endif %}
						{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<!-- course -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 finance">
					<div class="course-item">
						{% for el in featured_course %}
								{% if el.id == 5 %}
						<div class="course-thumb set-bg" data-setbg="{{ el.fc_image.url }}">
							<div class="price">{{ el.fc_price }}</div>
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5><a href="{% url 'main:f_course' el.slug %}">{{ el.fc_title }}</a></h5>
								<p>{{ el.fc_message }}</p>
								<div class="students">{{ el.fc_info }}</div>
							</div>
							<div class="course-author">
								<div class="ca-pic set-bg" data-setbg="{{ el.fc_author_image.url }}"></div>
								<p>{{ el.fc_author_name }} <span>{{ el.fc_author_position }}</span></p>
								{% endif %}
						{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<!-- course -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 design">
					<div class="course-item">
						{% for el in featured_course %}
								{% if el.id == 6 %}
						<div class="course-thumb set-bg" data-setbg="{{ el.fc_image.url }}">
							<div class="price">{{ el.fc_price }}</div>
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5><a href="{% url 'main:f_course' el.slug %}">{{ el.fc_title }}</a></h5>
								<p>{{ el.fc_message }}</p>
								<div class="students">{{ el.fc_info }}</div>
							</div>
							<div class="course-author">
								<div class="ca-pic set-bg" data-setbg="{{ el.fc_author_image.url }}"></div>
								<p>{{ el.fc_author_name }}<span>{{ el.fc_author_position }}</span></p>
								{% endif %}
						{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<!-- course -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 web">
					<div class="course-item">
						{% for el in featured_course %}
								{% if el.id == 7 %}
						<div class="course-thumb set-bg" data-setbg="{{ el.fc_image.url }}">
							<div class="price">{{ el.fc_price }}</div>
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5><a href="{% url 'main:f_course' el.slug %}">{{ el.fc_title }}</a></h5>
								<p>{{ el.fc_message }}</p>
								<div class="students">{{ el.fc_info }}</div>
							</div>
							<div class="course-author">
								<div class="ca-pic set-bg" data-setbg="{{ el.fc_author_image.url }}"></div>
								<p>{{ el.fc_author_name }}<span>{{ el.fc_author_position }}</span></p>
								{% endif %}
						{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<!-- course -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 photo">
					<div class="course-item">
							{% for el in featured_course %}
								{% if el.id == 8 %}
						<div class="course-thumb set-bg" data-setbg="{{ el.fc_image.url }}">
							<div class="price">{{ el.fc_price }}</div>
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5><a href="{% url 'main:f_course' el.slug %}">{{ el.fc_title }}</a></h5>
								<p>{{ el.fc_message }}</p>
								<div class="students">{{ el.fc_info }}</div>
							</div>
							<div class="course-author">
								<div class="ca-pic set-bg" data-setbg="{{ el.fc_author_image.url }}"></div>
								<p>{{ el.fc_author_name }}<span>{{ el.fc_author_position }}</span></p>
								{% endif %}
						{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- course section end -->


<!-- signup section -->
	<section class="signup-section spad">
		{% for el in page %}
		<div class="signup-bg set-bg" data-setbg="{{ el.sign_up_image.url }}"></div>
		{% endfor %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="signup-warp">
						<div class="section-title text-white text-left">
							{% for el in page %}
							<h2>{{ el.sign_up_title }}</h2>
							{% endfor %}
							{% for el in page %}
							<p>{{ el.sign_up_text }}</p>
							{% endfor %}
						</div>
						<!-- signup form -->
						<form class="signup-form" method="post">
							{% csrf_token %}
							{{ form1.teacher_name }}
							{{ form1.teacher_email }}
							{{ form1.phone_number }}
							{{ form1.teacher_password }}
							<button class="site-btn" type="submit">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- signup section end -->

<!-- banner section -->
	<section class="banner-section spad">
		<div class="container">
			<div class="section-title mb-0 pb-2">
				{% for el in page %}
				<h2>{{ el.join_title }}</h2>
				{% endfor %}
				{% for el in page %}
				<p>{{ el.join_text }}</p>
				{% endfor %}
			</div>
			<div class="text-center pt-5">
				<a href="#" class="site-btn">Register Now</a>
			</div>
		</div>
	</section>
	<!-- banner section end -->


{% endblock %}